body {
  margin: 0 auto;
}
.subtitle {
  font-size: 40px;
  margin-top: 50px;
  display: inline-flex;
  justify-content: center;
  border-bottom: solid 1px black;
}

/* -----------------TOP-------------------- */
.top {
  width: 100%;
  height: 300px;
  color: white;
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  background-image: url(image/tokyo.jpg);
}

.top > h1 {
  font-size: 50px;
  display: inline-flex;
  justify-content: center;
  opacity: 0.8;
}

.top button {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 14px;
  width: max-content;
  border-radius: 5%;
}

.top button:visited {
  color: white;
  text-decoration: none;
}

/* -----------------ABOUT ME-------------------- */

.about-me {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.about-me p {
  font-size: 16px;
  line-height: 30px;
  display: inline-flex;
  justify-content: center;
}

/* -----------------WORKS-------------------- */

.works {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: white;
  background-image: url(image/tokyo.jpg);
  background-position: center;
  height: 500px;
}

.works-image {
  display: flex;
  flex-direction: row;
  flex-flow: row no-wrap;
  background: rgba(255, 255, 255, 0.8);
}

.works-image img {
  width: 25%;
  height: auto;
  opacity: 0.9;
}

.works-image img:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* -----------------SKILLS-------------------- */
.myskills {
  display: flex;
  flex-direction: column;
  width: 80%;
  flex-wrap: wrap;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.myskill {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: row wrap;
}

.myskills figure {
  width: 300px;
  text-align: center;
  margin: 0 0 50px 0;
}

.myskill img {
  width: 15%;
  /* margin: 50px; */
}

.myskills figcaption {
  font-size: 12px;
}

/* -----------------CONTACT-------------------- */
.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
}

.contact > form {
  display: inline-flex;
  flex-direction: column;
}

.contact > form {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

/* -----------------FOOTER-------------------- */
footer {
  text-align: center;
  color: white;
  background-color: black;
  background-image: url(image/tokyo.jpg);
  background-position: right bottom;
  text-decoration: none;
  margin: 0;
  height: 200px;
}

footer p {
  padding-top: 50px;
}

footer a {
  color: white;
  text-decoration: none;
}
footer a:visited {
  color: white;
  text-decoration: none;
}
